<% content_for :name, @wine.name %>
<article class="wine">
  <header>
    <h2><%= @wine.name %></h2>
  </header>
  <p><label>Year:</label> <%= @wine.year %></p>
  <p><label>Winery:</label> <%= @wine.winery %></p>
  <p><label>Country:</label> <%= @wine.country %></p>
  <p><label>Varietal:</label> <%= @wine.varietal %></p>
  <p><label>Average Rating:</label> <%= format_average_ratings(@wine) %></p>
</article>

<p>
  Read all
  <%= link_to pluralize(@wine.logentries.size, 'logentry'),
                        wine_logentries_path(@wine) %>
</p>

<%= link_to 'Edit Wine', edit_wine_path %>
<%= button_to 'Delete', @wine,
              method: :delete,
              data: {confirm: 'Are you sure?' }%>
